* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: black;
}

.color-grey {
  color: #333333;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex-center-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}
#add-space {
  background: #333333;
  min-height: 90px;
}
.navbar {
  border-color: #33333336;
  border-width: 0.5px;
  border-bottom-style: solid;
  background: #ffffff;
}
.navbar .hover-red:hover {
  text-underline-offset: 5px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-size-head {
  width: 115px;
}
ul {
  list-style-type: none;
}
.hover-red:hover {
  text-decoration: underline;
  text-decoration-color: #9e0b0f;
}

#btn-email {
  color: #a0a0a0;
}
#btn-contribute {
  color: #9e0b0f;
  padding: 10px;
  border: 1px solid #9e0b0f;
  border-radius: 6px;
}
#btn-join-tpm {
  background-color: #9e0b0f;
  color: white;
  padding: 10px;
  border: 1px solid #9e0b0f;
  border-radius: 6px;
}
.ham-menu-slider {
  position: absolute;
  visibility: hidden;
  background-color: #ffffff;
  max-width: 350px;
  border: 0.5px #f2f2f2 solid;
  padding: 10px;
  overflow-y: scroll;
  height: 640px;
}
.ham-menu-slider::-webkit-scrollbar {
  display: none;
}
.slider-links-li:hover {
  font-weight: 600;
}
.slider-red-seprator {
  color: #9e0b0f;
}
.slider-italic-text {
  font-style: italic;
  color: #a0a0a0;
  font-size: 10px;
}
.icon-min {
  height: 16px;
  width: 16px;
}
#txt-input {
  width: 220px;
  outline: none;
  border: none;
}
.in-txt {
  font-size: 20px !important;
  color: #a0a0a0;
}
.slider-links-bold-item {
  border-style: dashed none;
  padding: 20px;
  border-width: 1px;
}
.slider-close {
  margin-right: 20px;
  font-size: 30px !important;
  background-color: #f2f2f2;
}
.slider-search-box {
  padding: 8px;
  border: 1px #a0a0a0 solid;
  border-radius: 5px;
}
.slider-top-element {
  display: flex;
}
.font {
  font-family: "Roboto", "Lucida Grande", "Droid Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

.hover-red-solid:hover {
  color: #9e0b0f !important;
}
.slider-social-icons {
  margin-left: 30px;
  font-size: 20px !important;
}
.show-slider {
  transition: visibility 0.5s ease-in 0.2s;
  visibility: visible;
}
.slider-footer-about {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.slider-footer-about-text {
  padding: 10px;
}
.slider-footer-copyr {
  padding: 10px;
}
.slider-footer-copyr-text {
  color: #a0a0a0;
  font-size: 10px;
}

.content {
  padding: 230px 0px;
}
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.main-card {
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
}
.main-card-grid {
  display: grid;
  grid-template-columns: 45% 30% 25%;
}
.main-card-grid-col1 .heading-text {
  box-sizing: border-box;
  font-family: "Oswald", "Roboto", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.2;
}
.main-card-grid-col1 .sub-heading-text {
  font-size: 18px;
  color: #333333;
}
.card-image {
  width: 100%;
  border-radius: 5px;
}
.-card-image {
  width: 100%;
}
.card-text {
  text-align: justify;
  color: #333333;
}
.topic-text {
  line-height: 1.5;
  text-align: justify;
  color: #333333;
}
.topic-text1 {
  line-height: 1.5;
  text-align: left;
  color: #333333;
}

.main-card-grid-col2 {
  display: flex;
  flex-direction: column;
}
.time-light {
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 500;
}
.card-topic-ul {
  border: 0.2px solid #c9c9c9;
  border-top: none;
  border-left: none;
  border-right: none;
}
.main-card-col3-topic {
  border: 0.2px solid #c9c9c9;
  border-top: none;
  border-left: none;
  border-right: none;
}
.border-bottom {
  border: 0.2px solid #c9c9c9;
  border-top: none;
  border-left: none;
  border-right: none;
}
.border-top {
  border: 0.2px solid #c9c9c9;
  border-left: none;
  border-right: none;
}
.border-shadow {
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.no-border {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.lh-1 {
  line-height: 1.2;
}

.sections {
  display: grid;
  grid-template-columns: 35% 45% 20%;
}
.sub-card-heading {
  font-family: "Oswald", "Roboto", sans-serif;
  font-size: 20px;
  color: #333333;
}
.hover-red-all:hover {
  color: #9e0b0f;
}
.read-more {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.ad {
  padding: 40px 0;
  font-size: 14px;
  color: #c9c9c9;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad hr {
  width: 40%;
}
.news-feed {
  display: grid;
  grid-template-columns: 55% 15% 30%;
}
.topic-text-font {
  font-weight: 600;
  font-family: "Roboto", "Lucida Grande", "Droid Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
.trending-topic-text {
  font-size: 15px;
  color: #333333;
  font-weight: 600;
}
.trending-topic-name {
  font-size: 12px;
  font-weight: 600;
  color: #9e0b0f;
}
.trending-topic-link:hover > .trending-topic-text {
  color: #a0a0a0 !important;
}
.i {
  font-style: italic;
}
.bg-banner {
  background-image: url("../images/card-banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.grey-font {
  color: #a0a0a0;
  font-size: 16px;
}
.card-topic-btn {
  display: flex;
  justify-content: center;
  padding: 25px;
  padding-bottom: 10px;
}
.btn-clear {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.promo-footer {
  display: flex;
  align-items: center;
}
.float-right {
  float: right;
}
.pd-10 {
  padding: 10px;
}
.npd {
  padding: 0;
}
.square-card {
  display: grid;
  grid-template-columns: auto 3% auto;
}
.bg-red {
  width: 100%;
  background: #9e0b0f;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
.dot-menu {
  color: white;
}
.dot-menu:hover {
  color: #a0a0a0;
}
.radio {
  width: 20px !important;
  height: 20px !important;
}
.font-small {
  font-size: 13px;
}
.radio-btn {
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
}
.btn-solid-fluid {
  color: #a0a0a0 !important;
  font-size: 15px !important;
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.sub-footer {
  min-height: 35px;
  background: #9e0b0f;
}
.end-footer {
  min-height: 20px;
  background: #c9c9c9;
}
.sub-footer .container {
  min-height: 35px;
  background: #9e0b0f;
}
.footer-menu {
  background: #ffffff;
  padding: 64px 0px;
}
.main-footer {
  background: #333333;
  min-height: 300px;
  padding: 64px 0px;
}
.main-footer-grid {
  display: grid;
  grid-template-columns: 40% 20% 40%;
}
.footer-item-follow {
  color: #ffffff;
}
.footer-item-follow-grey {
  color: #c9c9c9;
}
.hover-white-solid:hover {
  color: #ffffff;
}
.hover-white:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}
.white-solid {
  color: #ffffff;
}
.grey-solid {
  color: #c9c9c9;
}
.footer-grid-menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footer-grid-menu-col1 {
  padding-right: 150px;
}
